/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: "TuluSri";
  src: url("./fonts/Tulu_Sri.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0D00-0D7F;
}

.tulu_font {
  font-family: TuluSri;
}

.tulu {
  font-family: TuluSri;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

/* .page {
  font-family: TuluSri;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

th,
td {
  width: 200px;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
}

/* table {
  border-collapse: collapse;
} */

a:active {
  color: cornflowerblue;
}

a:visited {
  color: cornflowerblue;
}

a sup {
  color: cornflowerblue;
}

a:link {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  color: #e4e5e7;
}
a.disabled {
  pointer-events: none;
  color: #e4e5e7;
}

a.disabled sup {
  color: #e4e5e7;
}

td.thick {
  font-weight: bold;
}

/* #root {
  background-color: #202124;
  color: #e4e5e7;
  height: 100vh; 
} */

* {
  background-color: #202124;
  color: #e4e5e7;
  /* height: 100vh; */
  font-size: x-large;
}

.searchbar {
  color: #e4e5e7;
  border-color: #3c3e44;
  /* border-radius: 3vh; */
  /* height: 100vh; */
}

.grid {
  display: flex;
  display: -webkit-flex; /* Support for older browsers */
  flex-flow: row;
  justify-content: space-around;
  margin: 5px;
}

ul.words {
  list-style-type: none;
}

.searchbox {
  display: flex;
  flex-direction: row;
}

/* NavLink {
  color: cornflowerblue;
} */
