@font-face {
  font-family: "TuluSri";
  src: url("./fonts/Tulu_Sri.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0D00-0D7F;
}

.tulu_font {
  font-family: TuluSri;
}

.tulu {
  font-family: TuluSri;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

th,
td {
  width: 200px;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
}

a:active {
  color: cornflowerblue;
}

a:visited {
  color: cornflowerblue;
}

a sup {
  color: cornflowerblue;
}

a:link {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  color: #e4e5e7;
}
a.disabled {
  pointer-events: none;
  color: #e4e5e7;
}

a.disabled sup {
  color: #e4e5e7;
}

td.thick {
  font-weight: bold;
}

* {
  background-color: #202124;
  color: #e4e5e7;
  /* height: 100vh; */
  font-size: x-large;
}

.searchbar {
  color: #e4e5e7;
  border-color: #3c3e44;
  /* border-radius: 3vh; */
  /* height: 100vh; */
}

.grid {
  display: flex;
  display: -webkit-flex; /* Support for older browsers */
  flex-flow: row;
  justify-content: space-around;
  margin: 5px;
}

ul.words {
  list-style-type: none;
}

.searchbox {
  display: flex;
  flex-direction: row;
}

